body {
  background-color: #1e1e2f;
}

.sidebar {
  min-width: 250px;
  height: 100vh;
  background-color: #151528;
}

.nav-link:hover {
  background-color: #343a40;
  border-radius: 5px;
}

footer p {
  color: #ccc;
}
